@import url(//db.onlinewebfonts.com/c/05b45c19e2f09f11f6f56c1ed5e0e981?family=RussianRail+G+Pro);

@font-face {
  font-family: Rrail;
  src: url(./fonts/FSRAIL75.ttf);
}

@font-face {
  font-family: RrailTwo;
  src: url(./fonts/FSRAIL55.ttf);
}

.page {
  max-width: 100%;
  min-height: 100%;
  margin: 0 auto;
  background-image: url(./images/sapsanPC.jpg);
}

@media screen and (max-width:1110px) {
  .page {
    background-image: url("./images/sapsanIpadPro.jpg");
  } 
}

@media screen and (max-width:320px) {
  .page {
    background-image: url("./images/sapsanX.jpg");
  }
} 

.login {
  display: flex;
}

.header {
  margin: 0 auto;
  background-color: white;
  height: 50px;
  box-shadow: 2px 2px 5px rgb(122 122 122 / 50%);
}

.header__logo {
  margin: 5px 10px;
  max-width: 90px;
  max-height: 40px;
}

.header__block {
  display: flex;
  justify-content: flex-end;
}


/* ФОРМА ДЛЯ ВХОДА */
.form {
  max-width: 450px;
  width: 100%;
  background-color: white;
  border: 1px solid black;
  margin: 250px auto;
  border-radius: 10px;
}


@media screen and (max-width:480px) {
  .form {
    margin: 150px 10px 0 10px;
  }
}

.content__titile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Rrail;
  color: #f3513f;
  margin-bottom: 0;
}

.content__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: RrailTwo;
  margin-top: 5px;
}

.content__input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__login {
  font-family: RrailTwo;
  max-width: 350px;
  width: 95%;
  max-height: 30px;
  height: 100%;
  margin-bottom: 5px;
}

.content__password {
  font-family: RrailTwo;
  max-width: 350px;
  width: 95%;
  max-height: 30px;
  height: 100%;
  margin-bottom: 5px;
}

.formLogin {
  display: flex;
  justify-content: center;
}

.content__btn {
  max-width: 360px;
  width: 97%;
  height: 30px;
}

.content__info {
  max-width: 360px;
  width: 95%;
  font-family: RrailTwo;
  font-weight: 400;
  text-align: center;
}