@import url(//db.onlinewebfonts.com/c/05b45c19e2f09f11f6f56c1ed5e0e981?family=RussianRail+G+Pro);

@font-face {
  font-family: Rrail;
  src: url(./fonts/FSRAIL75.ttf);
}

@font-face {
  font-family: RrailTwo;
  src: url(./fonts/FSRAIL55.ttf);
}

.page {
  max-width: 100%;
  min-height: 100%;
  margin: 0 auto;
  background-image: url(./images/sapsanPC.jpg);
  background-position: -37px 20px;
}

@media screen and (max-width:1110px) {
  .page {
    background-image: url("./images/sapsanIpadPro.jpg");
  } 
}

@media screen and (max-width:320px) {
  .page {
    background-image: url("./images/sapsanX.jpg");
  }
} 

.login {
  display: flex;
}

.header {
  margin: 0 auto;
  background-color: white;
  height: 50px;
  box-shadow: 2px 2px 5px rgb(122 122 122 / 50%);
}

.header__logo { /* ЛОГОТИП РЖД */
  margin: 5px 10px;
  max-width: 90px;
  max-height: 40px;
}

.header__block {
  display: flex;
  justify-content: flex-end;
}

.form {  /* ФОРМА ДЛЯ ВХОДА БЕЛАЯ ПЛАШКА */
  max-width: 450px;
  width: 100%;
  background-color: white;
  border: 1px solid black;
  margin: 250px auto;
  border-radius: 10px;
}


@media screen and (max-width:480px) { /* ФОРМА ДЛЯ ВХОДА БЕЛАЯ ПЛАШКА С МЕДАЗАПРОСОМ С ОТСТУПАМИ КРАЁВ */
  .form {
    margin: 150px 10px 0 10px;
  }
}

.form__titile { /* ТЕХНИЧИСКИЕ ВИДЕО */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Rrail;
  color: #f3513f;
  margin-bottom: 0;
}

@media screen and (max-width:440px) {
  .form__titile {
    font-size: 25px;
  } 
}

.form__subtitle { /* ПО РАЗЛИЧНЫМ НЕИСПРАВНОСТЯМ ПОЕЗДА */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: RrailTwo;
  margin-top: 5px;
}

@media screen and (max-width:440px) {
  .form__subtitle {
    font-size: 14px;
  } 
}

.formLogin { /* КОНТЕЙНЕР ДИВ С ФОРМАМИ */
  display: flex;
  justify-content: center;
}

.form__input { /* САМА ФОРМА */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__login { /* ПОЛЕ ВВОДА ТЕЛЕФОНА */
  font-family: RrailTwo;
  max-width: 350px;
  width: 95%;
  max-height: 30px;
  height: 100%;
  margin-bottom: 5px;
}

.form__password { /* ПОЛЕ ВВОДА ПАРОЛЯ */
  font-family: RrailTwo;
  max-width: 350px;
  width: 95%;
  max-height: 30px;
  height: 100%;
  margin-bottom: 5px;
}

.form__btn { /* САМА КНОПКА ВХОДА */
  max-width: 360px;
  width: 97%;
  min-height: 30px;
  font-family: Rrail;
  cursor: pointer;
  background-color: #f3513f;
  border: 1px;
  border-radius: 0;
  padding: 0;
  color: white;
}

.form__info { /* ИНФО О ТОМ КАК ВХОДИТЬ */
  max-width: 360px;
  width: 95%;
  font-family: RrailTwo;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width:440px) {
  .form__info {
    font-size: 14px;
  } 
}

