@import url(//db.onlinewebfonts.com/c/05b45c19e2f09f11f6f56c1ed5e0e981?family=RussianRail+G+Pro);

@font-face {
  font-family: Rrail;
  src: url(./fonts/FSRAIL75.ttf);
}

@font-face {
  font-family: RrailTwo;
  src: url(./fonts/FSRAIL55.ttf);
}

.page {
  max-width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

.login {
  display: flex;
}

.header {
  margin: 0 auto;
  background-color: white;
  height: 50px;
  box-shadow: 2px 2px 5px rgb(122 122 122 / 50%);
}

.header__logo { /* ЛОГОТИП РЖД */
  margin: 5px 10px;
  max-width: 90px;
  max-height: 40px;
}

.header__block {
  display: flex;
  justify-content: flex-end;
}

.section__search {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  font-family: RrailTwo;
}

.section__input {
  width: 90%;
  border: 1px solid #f3513f;
  font-weight: 600;
  margin-right: 4px;
  border-radius: 1px;
  -khtml-border-radius: 1px;
  text-transform: uppercase;
}

.section__btn {
  max-width: 70px;
  width: 60%;
  background-color: #f3513f;
  color:#ffffff;
  border: 1px solid #f3513f;
  border-radius: 1px;
  -khtml-border-radius: 1px;
  padding: 1px 2px;
  font-family: RrailTwo;
}

.link {
  margin-left: 96px;
  margin-top: 20px;
}

@media screen and (max-width:770px) {
  .link {
    margin-left: 40px;
  } 
}

@media screen and (max-width:440px) {
  .link {
    margin-top: 15px;
    margin-left: 22px;
  } 
}

@media screen and (max-width:350px) {
  .link {
    margin-top: 15px;
    margin-left: 20px;
  } 
}

.link__menu {
  font-size: 15px;
  font-family: RrailTwo;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}


.navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media screen and (max-width:450px) {
  .navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  } 
}

.navigation__btn {
  margin-right: 7px;
  height: 30px;
  text-transform: uppercase;
  font-family: RrailTwo;
  background-color: #f3513f;
  border: 0;
  color: white;
}

@media screen and (max-width:450px) {
  .navigation__btn {
    margin: 5px;
  } 
}