@import url(//db.onlinewebfonts.com/c/05b45c19e2f09f11f6f56c1ed5e0e981?family=RussianRail+G+Pro);

@font-face {
  font-family: Rrail;
  src: url(./fonts/FSRAIL75.ttf);
}

@font-face {
  font-family: RrailTwo;
  src: url(./fonts/FSRAIL55.ttf);
}

.page {
  max-width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

.login {
  display: flex;
}

.header {
  margin: 0 auto;
  background-color: white;
  height: 50px;
  box-shadow: 2px 2px 5px rgb(122 122 122 / 50%);
}

.header__logo { /* ЛОГОТИП РЖД */
  margin: 5px 10px;
  max-width: 90px;
  max-height: 40px;
}

.section {
  margin: 0 auto;
}

.header__block {
  display: flex;
  justify-content: flex-end;
}

.section__search {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  font-family: RrailTwo;
}

@media screen and (max-width:770px) {
  .section__search {
    width: 98%;
  } 
}

.section__input {
  width: 90%;
  border: 1px solid #f3513f;
  font-weight: 600;
  margin-right: 4px;
  border-radius: 1px;
  -khtml-border-radius: 1px;
  text-transform: uppercase;
}

.section__btn {
  max-width: 70px;
  width: 60%;
  background-color: #f3513f;
  color:#ffffff;
  border: 1px solid #f3513f;
  border-radius: 1px;
  -khtml-border-radius: 1px;
  padding: 1px 2px;
  font-family: RrailTwo;
}

.link {
  margin-left: 20px;
  margin-top: 20px;
}

@media screen and (max-width:770px) {
  .link {
    margin-left: 10px;
  } 
}

@media screen and (max-width:440px) {
  .link {
    margin-top: 15px;
    margin-left: 7px;
  } 
}

@media screen and (max-width:350px) {
  .link {
    margin-top: 15px;
    margin-left: 7px;
  } 
}

.link__menu {
  font-size: 15px;
  font-family: RrailTwo;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}


.navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


@media screen and (max-width:450px) {
  .navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10px;
  } 
}

.navigation__btn {
  margin-right: 7px;
  height: 30px;
  text-transform: uppercase;
  font-family: RrailTwo;
  background-color: #f3513f;
  border: 0;
  color: white;
}

@media screen and (max-width:450px) {
  .navigation__btn {
    margin: 5px;
  } 
}

.card {
  max-width: 1280px;
  margin: 50px auto;
  padding: 0;
  display: flex;
  justify-content: center;
}

.card__elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
  column-gap: 20px;
  row-gap: 20px;
}

@media screen and (max-width: 1124px) {
.card__elements {
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .card__elements {
      margin: 0 auto;
      grid-template-columns: repeat(1, 1fr);
    }
  }
.card__element {
  /* border: 1px solid #f3513f; */
  min-width: 330px;
  width: 100%;
  background-color: #fffbfb;
  border-radius: 8px;
  list-style: none;
  position: relative;
  box-shadow: 2px 2px 5px rgb(122 122 122 / 50%);
}

.card__images {
  display: block;
  border-radius: 8px 8px 0 0;
  max-width: 435px;
  width: 100%;
  height: 282px;
  object-fit: fill;
  background-size: contain;
}

.card__info {
  max-width: 246px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto;
}

.card__link {
  text-decoration: none;
  cursor: pointer;
}

.card__title:hover {
  color: #f3513f; 

}

.card__title {
  color: #000000;
  font-family: RrailTwo;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 29px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
  text-align: center;
}

